.transactionHistory * {
  border-collapse: collapse;
  text-align: center;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tableTitle {
  background-color: rgb(127, 229, 255);
  color: #fff;
}
