.title {
  display: flex;
  justify-content: center;
}
.statList {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  gap: 5px;
}
.statList li {
  display: flex;
  flex-direction: column;
  width: 50px;
  text-align: center;
}
.statList li:nth-child(1) {
  background: aquamarine;
}
.statList li:nth-child(2) {
  background: paleturquoise;
}
.statList li:nth-child(3) {
  background: rgb(192, 132, 175);
}
.statList li:nth-child(4) {
  background: rgb(104, 84, 172);
}
.statList li:nth-child(5) {
  background: rgb(238, 248, 193);
}
